.offer-content {
  background-color: #fff;
  text-align: center;
  padding: 5rem 1rem;

  position: relative;
  overflow: hidden;
}

.discount {
  background-color: var(--yellow-solid);

  position: absolute;
  top: 0;
  left: 0;

  padding: 1rem;

  font-weight: bold;
  text-transform: uppercase;
  outline: 2px solid var(--yellow-solid);
  outline-offset: 0.5rem;
  border-bottom-right-radius: 10px;
}

.paragraph {
  color: #a5a5a5;
  margin-bottom: 2.5rem;
}
