.hero {
  width: 100%;
  height: 100vh;
  background: url(../../../assets/images/hero_background.jpg) center no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  text-align: center;

  position: relative;
  z-index: 0;
}

.hero::before {
  content: "";
  width: inherit;
  height: inherit;

  background-color: var(--purple-transparent-alt);

  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
}

.main-heading {
  margin-bottom: 2.5rem;
  line-height: 1;

  color: #ffffff;
  text-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 4.8rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.subtitle {
  font-size: 3.6rem;
  font-weight: 300;
  font-family: "Courgette", cursive;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 8rem;
  }
}

@media screen and (min-width: 1000px) {
  .title {
    font-size: 12rem;
  }

  .sub-title {
    font-size: 4.6rem;
  }
}
