.booking {
  background-image: var(--gradient-color);
}

.input-group {
  margin-bottom: 1.5rem;
}

.input-label {
  color: #ffffff;

  margin-bottom: 1rem;

  display: block;

  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.input,
.options {
  width: 100%;
  min-height: 4rem;

  padding: 1rem;

  color: #a5a5a5;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;

  outline: none;
  border: none;
}

::placeholder {
  color: inherit;
}

@media screen and (min-width: 1000px) {
  .book-form {
    display: flex;
    justify-content: space-between;
  }

  .book-form .input-group {
    margin-bottom: 0;
  }

  .book-form .input-group:first-child {
    flex: 0 0 20%;
  }
}

@media screen and (min-width: 1200px) {
  .book-form .input-group:first-child {
    flex: 0 0 30%;
  }
}
