.booking {
  background-image: var(--gradient-color);
}

.input-group {
  margin-bottom: 1.5rem;
}

.input-label {
  color: #ffffff;

  margin-bottom: 1rem;

  display: block;

  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.input,
.options {
  width: 100%;
  min-height: 4rem;

  padding: 1rem;

  color: #a5a5a5;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;

  outline: none;
  border: none;
}

::placeholder {
  color: inherit;
}
